@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,html{
	background-color: #070A27;
	overflow-x: hidden
	
}
.nav-cl{
	background-color: #070A27;
	
	
}
.nav-item{
	margin-left: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}
.nav-link{
	color: #E9E9E9!important;
	transition: all 0.5s
}
.nav-link:hover{
	color: #F50081!important
}
.d-block{
	width: 100%
}
.video{
	width: 100%
}
.carousel-inner{
	width: 400px;
	margin: 0 auto!important
}
@media only screen and (min-width:768px){
	.carousel-inner{
		width: 80%;
		margin: 0 auto
	}
	.nav-item{
	margin-left: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}
}
@media only screen and (max-width:767px){
	.carousel-inner{
		width: 90%;
		margin: 0 auto
	}
}
.r1{
	width: 90%;
	height: 100px;
	border: 0.5px solid #0FE39C;
	background-color: #242E89;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 69px -58px rgba(129,140,235,1);
	-moz-box-shadow: inset 0px 0px 69px -58px rgba(129,140,235,1);
	box-shadow: inset 0px 0px 69px -58px rgba(129,140,235,1);
	transition: all 0.5s

}
.r2{
	margin-top: 10px!important;
}
.r3{
	margin-bottom: 100px
}
.r1:hover{
	background-color: #3643B3
}
.dong1 img{
	width: 70px;
	border-radius: 15px;
	margin-left: 10px;
	margin-top: 10px;
}
.dong1 h4{
	text-align: center;
	color: white
}
.dong1 p{
	color: #B5B5B5;
	text-align: center;
	margin-bottom: 0px
}
.dong1 h5{
	text-align: center;
	color: red;
	padding-top: 5px;
}
.dong1{
	padding-left: 1px!important
}
.carousel{
	display: inline-block;
	font-size: 10px;
	
}
a{
	text-decoration: none!important
}
.btn{
	color: #F50081!important
}
.icon{
	width: 90px;
	height: 90px;
	background-color: #6C6C6C;
	border-radius: 15px;
	margin-left: 5px;
	margin-top: 5px;
	
}
.box{
	width: 100%;
	border-radius: 20px 20px 20px 20px;
	background-color: #242E89;
	margin-top: 50px;
	margin-bottom: 50px!important
}
.ctn{
	margin: 0 auto;
	padding-top: 100px;
}
.ctn img{
	width: 100%
}
.c6{
	width: 100%;
	margin: 0 auto;
	text-align: center
}
.r4 h4{
	width: 380px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px
}
.ctn2{
	background-color: #0FE39C;
	width: 100%;
	border-radius: 20px;
	padding-top: 50px;
	margin-bottom: 50px;
		
}
.tenlua{
	width: 100%;
	margin: 0 auto
}
.r4{
	color: white;
}
.r5{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 98%!important;
	height: 160px;
	background-color: white;
	border-radius: 20px;
	padding-top: 22px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 28px -10px #000000; 
box-shadow: 0px 0px 28px -10px #000000;
	
}
.c8{
	text-align: left
}
.c8 h5,p{
	margin-bottom: 5px;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #242E89
}
.ftt ul{
	padding-top: 15px;
	margin-bottom: 0px;
	text-align: center
}
.ftt li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px
}
.ftt a{
	color: white;
	transition: all 0.5s
}
.ftt a:hover{
	color: #A7A7A7
}